.main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 50px auto;
    position: relative;
    background-color: rgba(13, 168, 134, 0.501);
    padding: 20px;
    color: white;
    border-radius: 10px;

    h1 {
        margin-bottom: 20px;
    }



    .book_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin-top: 20px;
    }

    button {
        padding: 10px 20px;
        background-color: crimson;
        transition: .5s;
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        border: 0;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;

        &:hover {
            scale: .93;
            background-color: rgb(177, 7, 41);
        }
    }
}

.loading {
    text-align: center;
    margin: 30px;
}