.App__flex {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 100%;
}

.App__devider {
  min-width: 5px;
  align-self: stretch;
  background-color: #ffa801;
}

.App__title {
  text-align: center;
  font-size: 3.6em;
  margin-bottom: 66px;
}


.icons {
  padding: 30px;
  height: 100px;
  display: flex;
  align-items: center;

  .filter {


    button {
      padding: 10px 20px;
      background-color: orange;
      color: white;
      border-radius: 15px;
      font-size: 1.3rem;
      border: 0;
      transition: .5s;
      cursor: pointer;

      &:hover {
        scale: .93;
        border: 1px solid orange;
        background-color: white;
        color: black;
      }
    }
  }
}

.App__books {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-block: 40px;
  justify-content: center;
  
  .book {
    width: 450px;
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
    padding: 30px;
    padding-left: 20px;
    position: relative;

    h2 {
      margin-top: 25px;
    }

    button {
      padding: 10px 20px;
      background-color: crimson;
      transition: .5s;
      position: absolute;
      top: 30px;
      right: 30px;
      color: white;
      border: 0;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        scale: .93;
        background-color: rgb(177, 7, 41);
      }
    }
  }
}